<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SelectTableViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40D88C011E24BBCB0015F0FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40D88C1A1E24BBCB0015F0FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40D88C251E24BBCB0015F0FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
